.item {
	width: 90%;
	margin: 0 auto;
    text-align: center;
    display: none;
}

.left {
    text-align: left;
    display: inline-block;
	float: left;
	width: 30%;
}

.center {
    text-align: left;
    display: inline-block;
	margin: 0 auto;
	width: 30%;
}

.right {
    text-align: left;
    display: inline-block;
	float: right;
	width: 30%;
}

.box {
    padding: 5px;
    margin: 0 10px 0 0;
    font-size: 13px;
    /*line-height: 20px;*/
    /*word-break: break-all;*/
    /*word-wrap: break-word;*/
    /*white-space: pre;*/
    /*white-space: pre-wrap;*/
    background-color: #f5f5f5;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px
}

.box.text {
    font-size: 16px;
}

.line-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    display: table-cell;
    float: left;
    width: 5%;
    vertical-align: middle;
}

#selector {
    padding: 10px 0;
    text-align: center;
    margin: 10px auto;
    font-size: 18px;
    font-weight: bold;
    background-color: #f5f5f5;
    border: 1px solid rgba(0, 0, 0, 0.15);
    width: 70%;
    border-radius: 4px
}

.filter {
    display: inline;
    margin: 10px;
}

.filter .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #d9d9d9;
    cursor: pointer;
    border-radius: 4px
}

.filter .active.btn {
    background-color: #666;
    color: white;
}

.filter .btn:hover {
    color: #959595;
}

.show {
    display: flex;
}

