@import "../css/typography.css";

.header {
    cursor: pointer;
    border-style: none;
    padding: 7px 10px 10px;

    background-color: var(--highlight-color);
    color: #FFF;
    font-family: "Roboto Regular", Georgia, sans-serif;
    display: flex;
    align-items: center;
}

.container {
    margin-bottom: 10px;
}

.content > pre {
    margin-top: 0 !important; /*Overrides the default margin of the code block to remove the gap between header and block*/
    border-radius: 0 5px 5px 5px !important;
}

.codeBlock {
    border-radius: 0 5px 5px 5px;
    margin-top: 0;
}
