@import "../css/typography.css";

.header{
    cursor: pointer;
    border-style: none;
    padding: 7px 10px 10px;

    background-color: var(--highlight-color);
    color: #FFF;
    font-family: "Roboto Regular", Georgia, sans-serif;
    display: flex;
    align-items: center;
}

button {
    font-family: "Roboto Regular", Georgia, sans-serif;
}

.content > pre {
    border-style: none;
    border-radius: 0 5px 5px 5px;
    font-size: 14px;
    margin-top: 0; /*Overrides the default margin of the code block to remove the gap between header and block*/
    font-family: "Roboto Regular", Georgia, sans-serif;
}

.container {
    margin-bottom: 10px;
}
