@import "../css/typography.css";

/*Global rules*/

:root {
    --highlight-color: #AA0000;
    --border-color: #e5e5e5;
    font-family: "Roboto Regular", Georgia, sans-serif;
    scroll-behavior: smooth;

}

a {
    color: var(--highlight-color);
}

h1 {
    font-family: "Roboto Black", Georgia, sans-serif;
}

h2 {
    /* Makes room above the heading for the header bar when an anchor link is used to go to his heading */
    padding-top: 65px;
    /* Pushes the gap created by the padding upwards to hide it. */
    /* At least part of the gap has to stay visible because the area covered by the padding blocks interactions on
    the elements behind it.*/
    margin-top: -20px;
}

h3 {
    margin-top: 30px;
}

/*Local rules*/

.main {
}

.highlight {
    color: var(--highlight-color);
}

.body {
    position: absolute;
    top: 75px;
    left: 350px;
    right: 100px;
    padding-bottom: 30px;
}
